.question-container {
  width: 70%;
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.question-description {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.ok-button {
  padding: 0 30px;
  height: 40px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  width: 80px;
  margin-left: 20px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid;
  }
}
