.question-container {
  width: 70%;
  height: 100%;
  margin: 25vh auto;
  display: flex;
  flex-direction: column;
  // align-items: center;
}

.question-description {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.ok-button {
  padding: 0 30px;
  height: 40px;
  letter-spacing: 0.5px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  width: 80px;
  margin-left: 20px;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid;
  }
}

.next-previous-buttons {
  // float: right;
  display: flex;
  gap: 1px;
  // margin: 0 50px 0px 0px;

  position: absolute;
  bottom: 1vh;
  right: 10vw;

  .up-button,
  .down-button {
    height: 32px;
    color: white;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    border: none;
    cursor: pointer;
    cursor: pointer;
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

    .icon {
      height: 13px;
      width: 13px;
      fill: white;
    }
  }
}
